@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-myWhite dark:bg-myBlack text-myBlack dark:text-myWhite transition duration-500;
  overflow-x: hidden;
}

html {
  scrollbar-color: #ffcfb8 #e0e0e0;
  scrollbar-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

.name-font {
  @apply font-June;
  fill: none;
  font-size: 104.25px;
}
